/* line 14, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, ../sass/base/_reset.scss */
body {
  padding: 0px 2%;
  margin: 0px;
}

/* line 7, ../sass/base/_reset.scss */
h1, h2, h3, h4, h5, p {
  padding: 0px;
  margin: 0px 0px 15px 0px;
  display: block;
  position: relative;
  z-index: 1;
  clear: both;
}

/* line 16, ../sass/base/_reset.scss */
header, article, section, aside, footer, div {
  display: block;
  position: relative;
  z-index: 1;
}

/* line 22, ../sass/base/_reset.scss */
ul, li {
  padding: 0px;
  margin: 0px;
}

/* line 27, ../sass/base/_reset.scss */
ul {
  padding-left: 25px;
  margin-bottom: 15px;
}

/* line 32, ../sass/base/_reset.scss */
a {
  color: inherit;
  text-decoration: underline;
}
/* line 36, ../sass/base/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 43, ../sass/base/_reset.scss */
form input {
  outline: 0 !important;
  -webkit-appearance: none;
}
/* line 48, ../sass/base/_reset.scss */
form input[type="submit"] {
  outline: 0px !important;
}

/* line 53, ../sass/base/_reset.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 58, ../sass/base/_reset.scss */
textarea, input {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

@font-face {
  font-family: 'Garda Titling Three';
  src: url("../fonts/Garda-TitlingThree.eot?#iefix") format("embedded-opentype"), url("../fonts/Garda-TitlingThree.otf") format("opentype"), url("../fonts/Garda-TitlingThree.woff") format("woff"), url("../fonts/Garda-TitlingThree.ttf") format("truetype"), url("../fonts/Garda-TitlingThree.svg#Garda-TitlingThree") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/layout/_core.scss */
body, html {
  height: 100%;
}

/* line 5, ../sass/layout/_core.scss */
body {
  background: #000;
  color: #fff;
  font-family: 'Garda Titling Three';
  font-variant-ligatures: none;
  text-align: center;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 1px;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 5, ../sass/layout/_core.scss */
  body {
    font-size: 3.75vw;
  }
}
@media (min-width: 481px) and (max-width: 670px) {
  /* line 5, ../sass/layout/_core.scss */
  body {
    font-size: 2.5vw;
  }
}
@media (min-width: 671px) and (max-width: 1024px) {
  /* line 5, ../sass/layout/_core.scss */
  body {
    font-size: 1.5vw;
  }
}
/* line 15, ../sass/layout/_core.scss */
body .body {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 6% 20px 0 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
body .body:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 21, ../sass/layout/_core.scss */
body .body h1 img {
  max-width: 60%;
}
/* line 26, ../sass/layout/_core.scss */
body .body h3 {
  font-weight: normal;
  font-size: 15px;
  line-height: 1.4;
  margin: 0;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 26, ../sass/layout/_core.scss */
  body .body h3 {
    font-size: 3.75vw;
  }
}
@media (min-width: 481px) and (max-width: 670px) {
  /* line 26, ../sass/layout/_core.scss */
  body .body h3 {
    font-size: 2.5vw;
  }
}
@media (min-width: 671px) and (max-width: 1024px) {
  /* line 26, ../sass/layout/_core.scss */
  body .body h3 {
    font-size: 1.5vw;
  }
}
/* line 32, ../sass/layout/_core.scss */
body .body img.title-mobile {
  display: none;
}
/* line 36, ../sass/layout/_core.scss */
body .body p.small {
  font-size: 13px;
  line-height: 1.4;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 36, ../sass/layout/_core.scss */
  body .body p.small {
    font-size: 3.25vw;
  }
}
@media (min-width: 481px) and (max-width: 670px) {
  /* line 36, ../sass/layout/_core.scss */
  body .body p.small {
    font-size: 2.16667vw;
  }
}
@media (min-width: 671px) and (max-width: 1024px) {
  /* line 36, ../sass/layout/_core.scss */
  body .body p.small {
    font-size: 1.3vw;
  }
}
/* line 39, ../sass/layout/_core.scss */
body .body p.small a {
  display: block;
}
/* line 44, ../sass/layout/_core.scss */
body .body form.signup {
  margin: 2% 0;
}
/* line 47, ../sass/layout/_core.scss */
body .body form.signup input[type="email"] {
  width: 250px;
  max-width: 100%;
  border: 1px solid #ffffff;
  outline: 0;
  color: #ffffff;
  text-align: center;
  background: #000;
  text-transform: lowercase;
  font-family: arial;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 61, ../sass/layout/_core.scss */
body .body form.signup input[type="submit"] {
  border: 1px solid #ffffff;
  outline: 0;
  color: #000;
  text-align: center;
  background: #fff;
  padding: 5px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
/* line 71, ../sass/layout/_core.scss */
body .body form.signup input[type="submit"]:hover {
  background: #000;
  color: #fff;
}
/* line 78, ../sass/layout/_core.scss */
body .body article {
  padding-bottom: 12%;
  margin-bottom: 5%;
  background: url(../images/mark.png) bottom center no-repeat;
  background-size: 5%;
}

/* line 90, ../sass/layout/_core.scss */
::-webkit-input-placeholder {
  color: #fff;
}

/* line 94, ../sass/layout/_core.scss */
:-moz-placeholder {
  color: #fff;
}

/* line 98, ../sass/layout/_core.scss */
::-moz-placeholder {
  color: #fff;
}

/* line 102, ../sass/layout/_core.scss */
:-ms-input-placeholder {
  color: #fff;
}

@media (max-width: 480px) {
  /* line 5, ../sass/layout/_mobile.scss */
  body .body {
    padding: 6% 10% 0 10%;
  }
  /* line 8, ../sass/layout/_mobile.scss */
  body .body h1 img {
    max-width: 80%;
  }
  /* line 10, ../sass/layout/_mobile.scss */
  body .body img.title {
    display: none;
  }
  /* line 14, ../sass/layout/_mobile.scss */
  body .body img.title-mobile {
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }
  /* line 19, ../sass/layout/_mobile.scss */
  body .body p.small {
    font-size: 15px;
    line-height: 1.4;
  }
}
@media (max-width: 480px) and (min-width: 0) and (max-width: 480px) {
  /* line 19, ../sass/layout/_mobile.scss */
  body .body p.small {
    font-size: 3.75vw;
  }
}
@media (max-width: 480px) and (min-width: 481px) and (max-width: 670px) {
  /* line 19, ../sass/layout/_mobile.scss */
  body .body p.small {
    font-size: 2.5vw;
  }
}
@media (max-width: 480px) and (min-width: 671px) and (max-width: 1024px) {
  /* line 19, ../sass/layout/_mobile.scss */
  body .body p.small {
    font-size: 1.5vw;
  }
}
@media (max-width: 480px) {
  /* line 22, ../sass/layout/_mobile.scss */
  body .body article {
    background-size: 10%;
  }
}
@media (min-width: 480px) and (max-width: 670px) {
  /* line 32, ../sass/layout/_mobile.scss */
  body img {
    max-width: 80%;
  }
  /* line 36, ../sass/layout/_mobile.scss */
  body .body {
    padding: 6% 10% 0 10%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 44, ../sass/layout/_mobile.scss */
  body .body {
    padding: 6% 17% 0 17%;
  }
}
