body#page {
	
	.body {
		@include span(isolate 5 at 4.5);

		table {
			margin-top: 5%;
			width: 100% !important;
			@include fontsize(18);

			td {
				vertical-align: center;
				padding: 0px 10px 10px 10px;
			}
		}
	}

}

body#pagewide {
	
	.body {
		@include span(isolate 8 at 3);

		table {
			margin-top: 5%;
			width: 100% !important;
			@include fontsize(18);

			td {
				vertical-align: center;
				padding: 0px 10px 10px 10px;
			}
		}
	}

}